<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.city %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.type_food %></p>
<p><%= @restaurant.phone_number %></p>
<img src="<%=@restaurant.image_url%>" alt="">
